.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


/data/
/out
jsconfig.json
tsconfig.json
tsconfig.create.bat
package-lock.json
public/manifest.json
public/manifest.webmanifest
public/robots.txt
public/sitemap.xml
public/version.txt
public/docs/api/*.html
public/maps.json
