:root {
	--accent-color: #00a6e2;
	--primary-color: #03589C;
	--primary-color-faded: rgba(0, 166, 226, 0.3);
	--primary-color-faded10: rgba(0, 166, 226, 0.1);
	--primary-color-faded70: rgba(0, 166, 226, 0.7);
	--dark-color: #0F5097;

	--link-color: var(--primary-color);
	--ripple-color: var(--primary-color);
	--text-color: #252525;

	--background-color: #F1F1F1;
	--navigation-background-color: #FFF;
	--navigation-text-color: var(--primary-color);
	--navigation-shadow-color: rgba(50, 50, 50, 0.2);
	--drawer-background-color: #FFF;

	--card-color: #FFF;
	--card-accent-color: var(--primary-color);
	--card-faded-color: #888;

	--search-background-color: #FFF;
	--search-text-color: #252525;
	--search-prompt-color: var(--dark-color);

	--index-page-faded-title: #888;
	--group-page-faded-title: #888;
	--android-app-page-faded-title: #888;
}

:root .is-dark {
	--primary-color: #006FCA;
	--primary-color-faded: rgba(0, 111, 202, 0.3);
	--primary-color-faded10: rgba(0, 111, 202, 0.1);
	--primary-color-faded70: rgba(0, 111, 202, 0.7);

	--text-color: #E1E1E1;
	--link-color: #0083EE;

	--background-color: #121212;
	--navigation-background-color: #333;
	--navigation-text-color: #E1E1E1;
	--navigation-shadow-color: rgba(0, 0, 0, 0.3);
	--drawer-background-color: #333;

	--card-color: #333;

	--search-background-color: #333;
	--search-text-color: #E1E1E1;
	--search-prompt-color: var(--primary-color);
}

body {
	margin: 0;
	padding: 0;
	color: var(--text-color);
	background-color: var(--background-color);

	font-family: "Manrope", "Roboto", "Arial", "Helvetica", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.35em;
}

*::selection {
	color: var(--background-color);
	background-color: var(--accent-color);
}

.default-no-selection,
.default-no-select {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.default-pointer {
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.default-header {
	font-family: "Manrope", "Roboto", "Arial", "Helvetica", sans-serif;
	font-weight: 900;
	font-size: 20px;
	text-align: center;

	line-height: 1em;
	margin: 0 auto 2em;

	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.default-italics {
	font-family: "Manrope", "Roboto", "Arial", "Helvetica", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.default-bold {
	font-family: "Manrope", "Roboto", "Arial", "Helvetica", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.default-extra-bold {
	font-family: "Manrope", "Roboto", "Arial", "Helvetica", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.default-title {
	font-family: "Manrope", "Roboto", "Arial", "Helvetica", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.global-scroll {
	scrollbar-color: transparent transparent;
	scrollbar-width: none;
}

.global-scroll::-webkit-scrollbar {
	width: 0;
	height: 0;
	background-color: transparent;
}

@media (min-width: 706px) {
	.global-scroll {
		scrollbar-color: var(--primary-color) var(--background-color);
		scrollbar-width: thin;
	}

	.global-scroll::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px transparent;
		background-color: transparent;
	}

	.global-scroll::-webkit-scrollbar {
		width: 6px;
		background-color: transparent;
	}

	.global-scroll::-webkit-scrollbar-thumb {
		background-color: var(--accent-color);
	}
}

a, a:visited {
	color: var(--link-color);
}
