:root {
	--accent-color: #00a6e2;
	--primary-color: #03589C;
	--primary-color-faded: #00a6e266;
	--dark-color: #0f5097;
	--text-color: #252525;
	--background-color: #F1F1F1;
}

body {
	margin: 0;
	padding: 0;
	color: var(--text-color);
	background-color: var(--background-color);

	font-family: "Roboto Condensed", "SF Compact Display", "Helvetica Neue Condensed", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.35em;
}

.global-scroll {
	scrollbar-color: transparent transparent;
	scrollbar-width: none;
}

.global-scroll::-webkit-scrollbar {
	width: 0;
	height: 0;
	background-color: transparent;
}

@media (min-width: 706px) {
	.global-scroll {
		scrollbar-color: var(--primary-color) var(--background-color);
		scrollbar-width: thin;
	}

	.global-scroll::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px transparent;
		background-color: transparent;
	}

	.global-scroll::-webkit-scrollbar {
		width: 6px;
		background-color: transparent;
	}

	.global-scroll::-webkit-scrollbar-thumb {
		background-color: var(--accent-color);
	}
}

a, a:visited {
	color: var(--primary-color);
}
